<!-- templates/patient_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Form</title>
</head>
<body>
    <h2>Patient Form</h2>
    <form method="post">
        {% csrf_token %}
        {% for patient in patient %}
        <div>
            <label for="{{ patient.first_name }}">FIRST NAME</label>
            
        </div>
        {% endfor %}
       
        <button type="submit">Submit</button>
    </form>
</body>
</html>
